# DB Setup
MSSQL_PASSWORD=StrongPass123!
DB_HOST=db
DB_PORT=1433
DB_NAME=coffeshop_db
DB_USER=sa

# Web container settings
ASPNETCORE_ENVIRONMENT=Development
USE_HTTPS_REDIRECTION=false
RUN_MIGRATIONS_ON_STARTUP=true

# Host port to access the web app
WEB_PORT=8080