@model IEnumerable<CoffeShop.Models.OrderHeader>

<div class="container mb-2">
    <div class="row pt-4">
        <div class="col-6" style="padding-left:0;">
            <h2 class="text-primary" style="text-transform:uppercase; font-size:30px;">Porudžbine</h2>
        </div>
    </div>
</div>

<table id="myTable" class="table table-bordered table-striped m-2" style="width:100%;">
    <thead>
        <tr>
            <th>Br. porudžbine</th>
            <th>Ime</th>
            <th>Datum porudžbine</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/order.js"></script>
}