@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>Potvrda resetovanja šifre!</h1>
<p>
    Šifra ti je resetovana. Molim Vas <a asp-page="./Login">kliknite ovdje za prijavu</a>.
</p>
